body {
  margin: 15%;
  background-color: cornflowerblue;
  font-family: Arial;
}
h4 {
  text-align: center;
  padding-bottom: 5%;
}
.form {
  border-radius: 5%;
  margin: 30%;
  padding: 2% 5% 5%;
  background-color: white;
  box-shadow: 6px 12px 10px;
}
.item {
  padding-bottom: 5%;
}
input {
  padding: 10px;
}
.name,
.pass {
  background-color: lightgrey;
  border-width: 0px;
  width: 300px;
}
.R,
.L {
  color: white;
  font-weight: bolder;
  padding: 10px;
  width: 147.5px;
  border-width: 0px;
}
.R {
  background-color: red;
}
.L {
  background-color: royalblue;
}
